@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

html {
    background-color: rgb(219, 219, 219);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
}

nav > ul {
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav > ul > li > a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

nav > ul > li > a:hover {
    background-color: rgb(40, 40, 40);
    color: rgb(59, 160, 255);
}

main {
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 25px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

.products-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.product-card > h2 {
    font-size: 22px;
    font-weight: bold;
}

.product-card > img {
    width: 100%;
    min-height: 0px;
    object-fit: cover;
}

.product-card > a {
    background-color: rgb(0, 83, 238);
    color: white;
    border-radius: 5px;
    padding: 10px;
    align-self: stretch;
    text-align: center;
    text-decoration: none;
}

.product-detail {
    width: 400px;
    height: auto;
}

.product-detail > p:nth-child(odd) {
    color: rgb(105, 105, 105);
    font-weight: 500;
}

.product-detail > p:nth-child(even) {
    color: rgb(59, 59, 59);
    font-weight: bold;
}

.product-detail > form > button {
    background-color: rgb(220, 0, 0);
    color: white;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.login-error {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.data-form {
    display: grid;
    grid-template-columns: 100px 300px;
    gap: 10px;
}

.data-form label {
    grid-column: 1;
}

.data-form input {
    grid-column: 2;
}

.data-form button {
    grid-column: 1 / -1;
    width: 200px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .product-card {
        width: 200px;
        height: 300px;
    }

    .product-detail {
        width: 220px;
        height: auto;
    }

    .data-form {
        grid-template-columns: 200px;
    }

    .data-form input {
        grid-column: 1;
    }
}